textarea.custom-textarea{
    width: 30%;
    height: 125px;
    padding: 1rem;
    border-radius: 2rem;
}

h2 {
    color:brown;
    filter: blur(25%);
}
div {
    color:brown;
 
}

p {
    color: brown;
}